// Letter spacing
$headings-letter-spacing: 0 !default;
$letter-spacing: 0 !default;

// Font weight
$headings-font-weight-light: 300 !default;
$headings-font-weight: 600 !default;
$headings-font-weight-bold: 800 !default;

$font-weight-light: 300 !default;
$font-weight: 400 !default;
$font-weight-bold: 600 !default;

// Spacing
$paragraphs-bottom-spacing: floor( ( $line-height-computed / 2 ) ) !default;

// Responsive
$xs-heading-font-size-h1-reduction: .8 !default;
$xs-heading-font-size-h2-reduction: .8 !default;
$xs-heading-font-size-h3-reduction: .8 !default;
$xs-heading-font-size-h4-reduction: 1 !default;
$xs-heading-font-size-h5-reduction: 1 !default;
$xs-heading-font-size-h6-reduction: 1 !default;

$sm-heading-font-size-h1-reduction: .85 !default;
$sm-heading-font-size-h2-reduction: .85 !default;
$sm-heading-font-size-h3-reduction: .85 !default;
$sm-heading-font-size-h4-reduction: 1 !default;
$sm-heading-font-size-h5-reduction: 1 !default;
$sm-heading-font-size-h6-reduction: 1 !default;

$md-heading-font-size-h1-reduction: 1 !default;
$md-heading-font-size-h2-reduction: 1 !default;
$md-heading-font-size-h3-reduction: 1 !default;
$md-heading-font-size-h4-reduction: 1 !default;
$md-heading-font-size-h5-reduction: 1 !default;
$md-heading-font-size-h6-reduction: 1 !default;

$lg-heading-font-size-h1-reduction: 1 !default;
$lg-heading-font-size-h2-reduction: 1 !default;
$lg-heading-font-size-h3-reduction: 1 !default;
$lg-heading-font-size-h4-reduction: 1 !default;
$lg-heading-font-size-h5-reduction: 1 !default;
$lg-heading-font-size-h6-reduction: 1 !default;
