// |--------------------------------------------------------------------------
// | Typography helper
// |--------------------------------------------------------------------------
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

@import "variables";

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@import "mixins";

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Additional identifiers
.heading-h1 {
  &:extend(h1);
}
.heading-h2 {
  &:extend(h2);
}
.heading-h3 {
  &:extend(h3);
}
.heading-h4 {
  &:extend(h4);
}
.heading-h5 {
  &:extend(h5);
}
.heading-h6 {
  &:extend(h6);
}

// Font weight
body {
  font-weight: @font-weight;
}
.light {
  font-weight: @font-weight-light;
}
.bold, strong {
  font-weight: @font-weight-bold;
}

h1, .heading-h1,
h2, .heading-h2,
h3, .heading-h3,
h4, .heading-h4,
h5, .heading-h5,
h6, .heading-h6,
.lead {
  font-weight: @headings-font-weight;

  &.light {
    font-weight: @headings-font-weight-light;
  }

  strong, &.bold {
    font-weight: @headings-font-weight-bold;
  }
}

// Letter spacing
body {
  letter-spacing: @letter-spacing;
}

h1, .heading-h1,
h2, .heading-h2,
h3, .heading-h3,
h4, .heading-h4,
h5, .heading-h5,
h6, .heading-h6,
.lead {
  letter-spacing: @headings-letter-spacing;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media @breakpoint-mobile-and-up {}

// Mobile - only
@media @breakpoint-mobile-only {}

// Tablet - and up
@media @breakpoint-tablet-and-up {}

// Tablet - only
@media @breakpoint-tablet-only {}

// Desktop - and up
@media @breakpoint-desktop-and-up {}

// Desktop - only
@media @breakpoint-desktop-only {}

// Large desktop - and up
@media @breakpoint-large-desktop-and-up {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
