// Letter spacing
@headings-letter-spacing: 0;
@letter-spacing: 0;

// Font weight
@headings-font-weight-light: 300;
@headings-font-weight: 600;
@headings-font-weight-bold: 800;

@font-weight-light: 300;
@font-weight: 400;
@font-weight-bold: 600;

// Responsive
@xs-heading-font-size-reduction: .8;
@sm-heading-font-size-reduction: .85;
@md-heading-font-size-reduction: 1;
@lg-heading-font-size-reduction: 1;
